body{
    background-color:darkseagreen;
}
img{
    width: 26rem;
}
.balk{
    display: flex;
    height: 6rem;
    background-color: darkcyan;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
}
.plaatje{
    height: 6.3rem;
    width: auto;
}
.naam{
    font-size: 1.2rem;
}
.balk a {
    text-decoration: none;
    color: black;
}
.balk a:hover {
    text-decoration: underline;
  }

  .messages {
    width: 16rem;
    height: 4rem;
    text-align: center;
    background-color: green;
    border-radius: 1rem;
    font-size: 1.1rem;
}

.approve{
    text-decoration: none;
    color: green;
}
.approve:hover{
    color: black;
    background-color: green;
}
.deny{
    text-decoration: none;
    color: red;
}
.deny:hover{
    color: black;
    background-color: red;
}
 
